.alert-container {
  position: fixed;
  z-index: 999999;
  right: 20px;
  bottom: 60px;
  width: 450px;
}

.alert-container div {
  animation: slide-up 1s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
